:root{
    --background-color: #FAFAE8;
    --Partenaire-section-background-color: #F5E6C0;
    --header-footer-activite: #1A1208;
    --secondary-text-color: #6B6254;
    --color-on-sombre: #FFFFFF;
    --color-hover: #E8B84B;
    --color-secondaire: #C9962A;

    --font-family: 'Poppins, sans-serif';
    --heading-font-family: 'Lora, serif';
    --transition-speed: 0.3s;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background-color: var(--background-color);
    font-family: var(--font-family);
    color: var(--secondary-text-color);
}

.myForm{
    margin: 6rem auto;
    width: 40%;
    height: auto;
    padding: 3rem;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0 0 0 0.1);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--secondary-text-color);

}
label{
    color: var(--header-footer-activite)
}
input, textarea{
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 1rem;
}

button{
    width: 30%;
    height: 2.5rem;
    background-color: var(--color-secondaire);

    color: var(header-footer-activite);
    display: absolute;
    left: 50%
}
button:hover{
    transform: translateY(-5px);
    background-color: var(color-hover);

    color: var(color-on-sombre);
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}
@media (max-width: 768px) {
    .myForm{
        width: 90%;
        padding: 2rem;
    }
}